<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extra/spring-security">
<th:block th:replace="/layout/fragment/head :: headFragment"></th:block>
<style>
    #background {
        background-color: #002333;
    }
</style>
<link href="/assets/css/star.css" rel="stylesheet"/>
<head>
    <meta name="_csrf" th:content="${_csrf?.token}">
    <meta name="_csrf_header" th:content="${_csrf?.headerName}">
</head>
<th:block th:replace="/layout/fragment/head :: headFragment"></th:block>
<body>
<th:block th:replace="/layout/fragment/navbar :: navbarFragment"></th:block>
<header class="bg-gradient-dark">
    <div class="page-header min-vh-75" id="background">
        <div class="container">
            <div class="row mt-5 mb-3">
                <div class="col-lg-4">
                    <img class="img-thumbnail" th:src="@{/lecture_upload/}+${lecture.fileName}"
                         style="width:400px; height:300px;" alt="강의 썸네일">
                </div>
                <div class="col-lg-8">
                    <span class="badge bg-danger"><span class="h6 text-white" th:text="${lecture.categoryViewName}"></span></span>
<!--                    <span class="h6 text-white" th:text="${lecture.categoryViewName}"></span>-->
                    <span class="h6 text-white" th:text="${'>'+lecture.tutor+' 선생님'}"></span><br>
                    <h1 class="text-white" th:text="${lecture.title}"></h1>
                    <p class="lead mb-4 text-white opacity-8" th:text="${lecture.intro}"></p>
                </div>
            </div>
        </div>
    </div>
</header>
<input type="hidden" id="lectureId" th:value="${lecture.id}">

<div class="card card-body blur shadow-blur mx-3 mx-md-4 mt-n6 mb-4">
    <section class="py-sm-7 py-5 position-relative">
        <div class="container">
            <div class="row">
                <div class="col-md-8 mx-auto">

                    <nav>
                        <div class="nav nav-tabs" id="nav-tab" role="tablist">
                            <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab"
                                    data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home"
                                    aria-selected="true">강의 소개
                            </button>
                            <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab"
                                    data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile"
                                    aria-selected="false">리뷰
                            </button>
                            <button class="nav-link" id="nav-contact-tab" data-bs-toggle="tab"
                                    data-bs-target="#nav-contact" type="button" role="tab" aria-controls="nav-contact"
                                    aria-selected="false">강의 목록
                            </button>
                        </div>
                    </nav>
                    <div class="tab-content" id="nav-tabContent">
                        <!-- 강의 소개 탭을 누르면 -->
                        <div class="tab-pane fade show active" id="nav-home" role="tabpanel"
                             aria-labelledby="nav-home-tab">
                            <div class="mt-4">
                                <p class="text-lg text-dark mb-0" th:utext="${lecture.content}"></p>
                            </div>
                        </div>

                        <!-- 리뷰 탭을 누르면 -->
                        <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                            <!--                            구매한 강의(true) 리뷰를 쓰지 않음(false)-->
                            <div id="review-write" class="m-2" th:if="${lectureCheck && !reviewCheck}">

                                <div>
                                        <span class="h5" type="text" id="reviewWriter"
                                              sec:authentication="principal.memberDto.nickname"></span>
                                </div>
                                <div class="mb-3" name="reviewForm" id="reviewForm" method="post">
                                    <fieldset>
                                        <span class="text-bold">별점을 선택해주세요</span>
                                        <input type="radio" name="reviewStar" value="5" id="rate1"><label
                                            for="rate1">★</label>
                                        <input type="radio" name="reviewStar" value="4" id="rate2"><label
                                            for="rate2">★</label>
                                        <input type="radio" name="reviewStar" value="3" id="rate3"><label
                                            for="rate3">★</label>
                                        <input type="radio" name="reviewStar" value="2" id="rate4"><label
                                            for="rate4">★</label>
                                        <input type="radio" name="reviewStar" value="1" id="rate5"><label
                                            for="rate5">★</label>
                                    </fieldset>
                                    <div>
                                        <textarea class="col-auto form-control" type="text" id="reviewContents"
                                                  placeholder="수강평을 남겨보세요"></textarea>
                                    </div>
                                </div>
                                <button class="col-auto btn btn-primary btn-lg" id="review-write-btn">리뷰 등록</button>
                            </div>
                            <!-- 강의를 구매하지 않음 -->
                            <div th:unless="${lectureCheck}"><h4 class="mt-2">강의를 구매하고 리뷰를 남겨보세요.</h4></div>

                            <!-- 리뷰 목록 -->
                            <div id="review-list" class="container">
                                <div class="container">

                                    <div class="row mt-3" th:each="review: ${reviewList}">
                                        <div class="col-md-6">
                                            <span class="h6" th:text="${review.rate}" id="reviewStar"></span>
                                            <span class="reviewStar" th:text="${'★'*review.rate}"></span>

                                            <div class="text-dark"
                                                 th:text="${review.reviewWriter} +'  '+${review.createdDate}"></div>
                                            <div th:text="${review.content}"></div>
                                            <!-- 리뷰 작성자와 로그인 사용자가 동일한 경우만 삭제 가능 -->
                                            <div><input class="btn btn-danger" type="button" th:if="(${review.getMember_id()} == ${login_id})"
                                                        th:onclick="deleteReview([[${review.id}]])"
                                                        value="삭제"></div>
                                        </div>
                                        <hr style="solid-color: #D3D3D3">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- 강의 목록 탭을 누르면 -->
                        <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
                            <span sec:authorize="hasRole('ADMIN')">
                                <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                                        data-bs-target="#courseSaveModalFragment">강의 업로드
                                </button>
                            </span>
                            <ol class="list-group">
                                <span th:each="course, courseStat:${courseList}">
                                    <!-- 강의를 구매 안 한 상태라면 -->
                                   <a th:unless="${lectureCheck}" href="#" id="myClassCheckAlert">
                                        <li class="list-group-item list-group-item-action d-flex justify-content-between align-items-start">
                                            <div class="ms-2 me-auto">
                                                <div class="text-dark"
                                                     th:text="${courseStat.count +'. '+course.section}"></div>
                                                <div class="text-bold" th:text="${course.title}"></div>

                                            </div>
                                               <img src="/assets/img/playButton.png" alt="" width="45px"
                                                    height="45px">
                                        </li>
                                   </a>
                                    <!-- 강의를 구매한 상태라면   -->
                                     <a th:if="${lectureCheck}" th:href="@{|/lecture/course/${course.id}|}">
                                        <li class="list-group-item list-group-item-action d-flex justify-content-between align-items-start">
                                            <div class="ms-2 me-auto">
                                                <div class="text-dark"
                                                     th:text="${courseStat.count +'. '+course.section}"></div>
                                                <div class="text-bold" th:text="${course.title}"></div>

                                            </div>
                                               <img src="/assets/img/playButton.png" alt="" width="45px"
                                                    height="45px">
                                            <!--                                    <span class="badge bg-primary rounded-pill">NEW!</span>-->
                                        </li>
                                   </a>
                                </span>
                            </ol>
                        </div>
                    </div>

                </div>
                <div class="col-md-4">
                    <div class="card card-body blur shadow-blur mx-1 mx-md-1 mt-n3" th:unless="${lectureCheck}">
                        <span class="text-dark">한 번 결제하면 평생 수강!</span>
                        <span class="h3 text-dark" th:text="${lecture.price} + '원'"></span>
                        <span sec:authorize="isAuthenticated()">
                        <!--                            수강신청-->
                        <button type="button" class="btn btn-danger btn-lg w-auto me-2" id="buy-button">장바구니 추가</button>
                            <!--                            찜하기-->

                        <button class="btn bg-gradient-primary btn-icon w-auto me-2" type="button"
                                th:onclick="saveWish([[${lecture.id}]])">
                            <div class="d-flex align-items-center">
                                <i class="material-icons me-2" aria-hidden="true">favorite</i>
                                찜 하기
                            </div>
                        </button>
                        </span>

                    </div>
                    <div class="card card-body blur shadow-blur mx-1 mx-md-1 mt-n3" th:if="${lectureCheck}">
                        <span class="text-dark">오늘도 공부한 당신!</span>
                        <span class="h4 text-dark">멋진 개발자에 한 걸음 더 :) </span>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<th:block th:fragment="courseSaveFragment">
    <!--    <input type="hidden" th:value="${session['loginNick']}" id="loginNick">-->
    <div class="modal fade" id="courseSaveModalFragment" data-bs-backdrop="static" tabindex="-1"
         aria-labelledby="staticBackdropLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-xl">
            <div class="modal-content">

                <div class="modal-header">
                    <label class="modal-title" id="staticBackdropLabel">수업 업로드</label>
                </div>
                <div class="modal-body">
                    <form class="form-control" action="/admin/course/save" method="post" enctype="multipart/form-data">
                        <input type="hidden" th:name="_csrf" th:value="${_csrf?.token}"/>
                        <div class="container my-auto">
                            <div class="row">
                                <div class="card z-index-0 fadeIn3 fadeInBottom">
                                    <div class="card-body">
                                        <div>
                                            <h6 th:text="${'강의 이름 : '+lecture.title}"></h6>
                                            <input type="hidden" name="lecture_id" th:value="${lecture.id}">
                                        </div>
                                        <div class="input-group input-group-outline my-3">
                                            <label class="form-label">수업 주제</label>
                                            <input type="text" class="form-control" name="section">
                                        </div>
                                        <div class="input-group input-group-outline my-3">
                                            <label class="form-label">수업 제목</label>
                                            <input type="text" class="form-control" name="title">
                                        </div>
                                        <div class="input-group mb-4 input-group-static">
                                                        <textarea type="text" class="form-control"
                                                                  name="content" rows="5"></textarea>
                                        </div>
                                        <div class="row">
                                            <div class="col-3"><h6>파일 업로드</h6></div>
                                            <div class="col-3">
                                                <input class="form-control" type="file" name="file">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="input-container modal-footer">
                            <button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal"
                                    aria-label="Close">
                                작성취소
                            </button>
                            <input type="submit" class="btn bg-gradient-primary" value="글작성">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</th:block>
<th:block th:replace="/layout/fragment/footer :: footerFragment"></th:block>
</body>
<th:block th:replace="/layout/fragment/script :: scriptFragment"></th:block>
<script>

    const header = $("meta[name='_csrf_header']").attr('content');
    const token = $("meta[name='_csrf']").attr('content');

    /** 강의 구매 버튼 -> 장바구니에 추가 -> 장바구니로 이동 **/
    $("#buy-button").click(function () {
        const lectureId = $("#lectureId").val();

        $.ajax({
            type: 'post',
            url: '/rest/cart/' + lectureId,
            contentType: 'application/json; charset=utf-8'
        }).done(function(result){
            if(result){
                alert("장바구니에 존재하는 강의입니다.");
            } else{
                alert("장바구니에 저장되었습니다.");
                window.location.href = '/cart/';
            }
        }).fail(function(error){
            alert(JSON.stringify(error));
        });
    });

    /** 위시리스트에 추가 **/
    function saveWish(lectureId) {
        $.ajax({
            url: '/rest/wish/' + lectureId,
            type: 'POST',
            contentType: 'application/json; charset=utf-8',
        }).done(function(result){

            // 이미 찜한 강의라면 찜 삭제 및 true 반환
            if(result){
                alert("위시리스트에서 삭제하였습니다.");
                location.reload();
            } else {
                alert("위시리스트에 저장하였습니다.");
                location.reload();
            }
        }).fail(function(error){
            alert(JSON.stringify(error));
        });
    };

    /** 리뷰 작성 **/
    $("#review-write-btn").click(function () {
        const reviewStar = $('[name=reviewStar]:checked').val()
        const reviewContents = $("#reviewContents").val();
        const lectureId = $("#lectureId").val();
        const data = {
            'rate': reviewStar,
            'content': reviewContents,
        }
        $.ajax({
            type: 'post',
            url: '/rest/lecture/review/' + lectureId,
            data: JSON.stringify(data),
            contentType : 'application/json; charset=utf-8',
            beforeSend: function(xhr){
                xhr.setRequestHeader(header, token);
            }
        }).done(function(){
            window.location.reload();
        }).fail(function(error){
            alert(JSON.stringify(error));
        })
    });

    /** 리뷰 삭제 **/

    function deleteById(reviewId){

        const lectureId = $('#lectureId').val();
        $.ajax({
            type:'DELETE',
            url: '/review/'+lectureId+reviewId
        }).done(function(){
            alert("리뷰가 삭제되었습니다.");
            location.reload();
        }).fail(function(error){
            alert(JSON.stringify(error));
        })
    };


</script>