<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="footerFragment">
    <footer class="footer pt-5 mt-5">
        <div class="container">
            <div class=" row">
                <div class="col-md-3 mb-4 ms-auto">
                    <div>
                        <h6 class="font-weight-bolder mb-4">Helpring project</h6>
                    </div>
                    <div>
                        <ul class="d-flex flex-row ms-n3 nav">
                            <li class="nav-item">
                                <a class="nav-link pe-1" href="https://github.com/jylees2"
                                   target="_blank">
                                    <i class="fab fa-github text-lg opacity-8"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>


                <div class="col-md-2 col-sm-6 col-6 mb-4">
                    <div>
                        <h6 class="text-sm">온라인 강의</h6>
                        <ul class="flex-column ms-n3 nav">
                            <li class="nav-item">
                                <a class="nav-link" href="/lecture/">
                                    강의 전체 보기
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/cart/">
                                    장바구니
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/wish/myWish">
                                    위시리스트
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="col-md-2 col-sm-6 col-6 mb-4">
                    <div>
                        <h6 class="text-sm">커뮤니티</h6>
                        <ul class="flex-column ms-n3 nav">
                            <li class="nav-item">
                                <a class="nav-link" href="/community/post/chat" target="_blank">
                                    자유 게시판
                                </a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" href="/community/post/question" target="_blank">
                                    질문 & 답변
                                </a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" href="/community/post/studyRecurit" target="_blank">
                                    스터디 모집
                                </a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" href="/community/post/projectRecurit" target="_blank">
                                    프로젝트 모집
                                </a>
                            </li>

                        </ul>
                    </div>
                </div>

                <div class="col-md-3 col-sm-6 col-6 mb-4">
                    <div>
                        <h6 class="text-sm">제작 정보</h6>
                        <ul class="flex-column ms-n3 nav">
                            <li class="nav-item">
                                <a class="nav-link" href="https://velog.io/@jyleedev/series/%EC%8A%A4%ED%94%84%EB%A7%81-%EB%B6%80%ED%8A%B8-%ED%8F%AC%ED%8A%B8%ED%8F%B4%EB%A6%AC%EC%98%A4-%EA%B0%95%EC%9D%98-%EC%82%AC%EC%9D%B4%ED%8A%B8-Helpring" target="_blank">
                                    제작과정
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="https://github.com/jylees2" target="_blank">
                                    깃헙
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>


                <div class="col-12">
                    <div class="text-center">
                        <p class="text-dark my-4 text-sm font-weight-normal">
                            Helpring © 이주영
                            <a href="https://velog.io/@jyleedev/series/%EC%8A%A4%ED%94%84%EB%A7%81-%EB%B6%80%ED%8A%B8-%ED%8F%AC%ED%8A%B8%ED%8F%B4%EB%A6%AC%EC%98%A4-%EA%B0%95%EC%9D%98-%EC%82%AC%EC%9D%B4%ED%8A%B8-Helpring" target="_blank">Helpring 제작기</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</th:block>
</html>
</html>