<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="mypageSideBarFragment">
<div class="card-body text-center">
    <div class="btn-group-vertical">
        <a class="btn btn-outline-info" th:href="@{/myPage}">내 정보</a>
        <a class="btn btn-outline-info" th:href="@{/checkPwd}">내 정보 수정</a>
        <a class="btn btn-outline-info" th:href="@{/community/post/myPost}">내가 쓴 글</a>
        <a class="btn btn-outline-info" th:href="@{/myLecture}">강의 수강하기</a>
        <a class="btn btn-outline-info" th:href="@{/cart/}">내 장바구니</a>
        <a class="btn btn-outline-info" th:href="@{/wish/myWish}">내 위시리스트</a>
    </div>
</div>
</th:block>
</html>